
#posicionamento {
  padding-top: 5%;
  padding-left: 3%;
  text-align: center;
  padding-right: 3%;
  height: 100%;
  background-image: url(https://media1.giphy.com/media/ccq0VVN7nBThsRrMFd/giphy.gif?cid=790b761187cd01c71497a568493e91451dcf8ccdba67a687&rid=giphy.gif&ct=g);
}

#titulo {
  text-align: center;
  padding-top: 5%;
}

#total {
  padding-left:4%;
  padding-right: 4%;
}

#resultado {
  padding-top: 2%;
}
